/* app css stylesheet */

textarea {
  border: 2px solid #9C9C9C;
  display: inline-block;
  margin: auto;
  position: relative;
  vertical-align: middle;
}

textarea:focus {
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
  border:2px solid #00C4B0;
}
fieldset {
  text-align: center;
}
button {
  display: inline-block !important;
}

.btn-btn-info {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #2be632;
  padding: 8px 12px 8px 12px;
  text-decoration: none;
  display:table;
  margin: 0 auto;
}

.btn-btn-info:hover {
  background: #74f278;
  text-decoration: none;
}

.btn-btn-default-btn-sm {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #e62b2b;
  padding: 3px 6px 3px 6px;
  text-decoration: none;
  display:table;
  margin:0 auto;
}

.btn-btn-default-btn-sm:hover {
  background: #e87474;
  text-decoration: none;
}
